{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/0_home.css' %}">
    <title>Home</title>

    <script>
        // IAM KEY 불러오기 버튼 기능
        function loadFile() {
            var input = document.createElement('input');
            input.type = 'file';

            input.onchange = function (e) {
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.readAsText(file);

                reader.onload = function () {
                    var fileContent = reader.result;
                    processFileContent(fileContent);
                };
            };

            input.click();
        }

        function processFileContent(content) {
            var lines = content.split('\n');
            if (lines.length >= 2) {
                var keys = lines[1].split(',');
                if (keys.length >= 2) {
                    document.getElementById("accessKeyInput").value = keys[0];
                    document.getElementById("secretKeyInput").value = keys[1];
                } else {
                    alert('파일 형식이 잘못되었습니다.');
                }
            } else {
                alert('파일이 비어 있습니다.');
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="box left_box">
            <img class="logo" src="{% static 'image/logo.png' %}" alt="logo">
            <h3>환영합니다</h3>
            <p>별도의 설치없이</p>
            <p>테라폼을 간단한 클릭만으로</p>
            <p>다양한 클라우드 인프라를 생성해보세요.</p>
        </div>

        <div class="box right_box">
            <p>액세스 키를 입력하거나, CSV파일을 불러오세요.</p>
            <button class="iam_btn" onclick="loadFile()"></button>
            <a href="https://us-east-1.console.aws.amazon.com/iamv2/home#/home" target="_blank">생성하러 가기 ></a>

            <form method="POST" action="/terra/list/"> <!-- List로 Access Key / Secret Key 정보 전달 -->
                {% csrf_token %}
                <div>
                    <p>Access Key 입력</p>
                    <input type="text" id="accessKeyInput" name="aws_access_key" placeholder="">
                </div>
                <div>
                    <p>Secret Key 입력</p>
                    <input type="text" id="secretKeyInput" name="aws_secret_key" placeholder="">
                </div>

                <div>
                    <p>Region 선택</p>
                    <div class="combobox">
                        <select id="region_detail" name="aws_region">
                            <option value="ap-northeast-2">ap-northeast-2</option>
                            <option value="ap-northeast-3">ap-northeast-3</option>
                            <!-- 다른 리전 옵션들 추가 -->
                        </select>
                    </div>
                </div>
                <button type="submit" class="start_btn">시작하기</button>
            </form>
        </div>
    </div>
</body>

</html>