{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Region</title>
</head>

<body>
    <div class="container">
        <div class="box left_box">
            <div class="left_content_box">
                <div>
                    <div>
                        <input type="image" src="{% static 'image/icon01.png' %}" alt="">
                    </div>
                    <div>
                        <input type="image" src="{% static 'image/icon02.png' %}" alt="">
                    </div>
                    <div>
                        <input type="image" src="{% static 'image/icon03.png' %}" alt="">
                    </div>
                </div>
                <div>
                    <img src="{% static 'image/logo_small.png' %}" alt="">
                </div>
            </div>
        </div>
    
        <div class="box center_box">
            <div class="center_content_box">
                <div class="navi">
                    <p>Step 0</p>
                    <p><em>Step 1</em></p>
                    <p>Step 2</p>
                    <p>Step 3</p>
                </div>
                <h2>Step 1</h2>
                <div>
                    <p><em>Region 선택</em> 나라를 선택한 후 세부리전을 선택해 주세요</p>
                    <div class="combobox">
                        <select id="region" name="region">
                            <option value="asia">아시아 태평양</option>
                        </select>
                    </div>
                </div>

                <div>
                    <p><em>Region 세부 선택</em> 세부 리전 확인 후 선택해주세요</p>
                    <div class="combobox">
                        <select id="region_detail" name="region_detail">
                            <option value="asia_2">서울 ap-northeast-2</option>
                        </select>
                    </div>
                </div>

                <section>
                    <a href="/terra"><input type="image" src="{% static 'image/btn_back.png' %}" alt=""></a>
                    <a href="/terra/instance"><input type="image" src="{% static 'image/btn_next.png' %}" alt=""></a>
                </section>
            </div>
        </div>
    
        <div class="box right_box">
            <h3>CODE VIEW</h3>
            <div class="right_content_box">
                
            </div>
        </div>
    </div>
</body>
</html>