{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/css/index.css' %}">
    <title>Ins_type</title>
</head>

<body>
    <div class="container">
        <div class="box left_box">
            <div class="left_content_box">
                <div>
                    <div>
                        <input type="image" src="{% static 'static/image/icon01.png' %}" alt="">
                    </div>
                    <div>
                        <input type="image" src="{% static 'static/image/icon02.png' %}" alt="">
                    </div>
                    <div>
                        <input type="image" src="{% static 'static/image/icon03.png' %}" alt="">
                    </div>
                </div>
                <div>
                    <img src="{% static 'static/image/logo_small.png' %}" alt="">
                </div>
            </div>
        </div>
    
        <div class="box center_box">
            <div class="center_content_box">
                <div class="navi">
                    <p>Step 0</p>
                    <p>Step 1</p>
                    <p><em>Step 2</em></p>
                    <p>Step 3</p>
                </div>
                <h2>Step 2</h2>
                <div>
                    <p><em>Key pair 불러오기</em></p>
                    <div class="key_load">
                        <p>파일 불러오기</p>
                        <img src="{% static 'static/image/icon_file.png' %}" alt="파일 불러오기">
                    </div>
                </div>
                <div>
                    <p><em>AMI</em> AMI를 생성해 입력해주세요</p>
                    <div class="combobox">
                        <select id="ami" name="ami">
                            <option value="ami_1">Amazon Linux 2023 AMI</option>
                            <option value="ami_2">Amazon Linux 2 AMI</option>
                            <option value="ami_3">Red Hat Enterprise_linux 9</option>
                            <option value="ami_4">Ubuntu Server 22.04 LTS</option>
                            <option value="ami_5">Ubuntu Server 20.04 LTS</option>
                        </select>
                    </div>
                </div>

                <div>
                    <p><em>Instance</em> 인스턴스 타입을 선택해주세요</p>
                    <div class="combobox">
                        <select id="ins_type" name="ins_type">
                            <option value="t2.m">t2.micro(vCPU: 1 / GIB : 1 / 프리티어)</option>
                        </select>
                    </div>
                </div>

                <div>
                    <p><em>Instance Name</em> 인스턴스 이름을 지정해주세요</p>
                    <input class="text_box" type="text" placeholder="type any thing...">
                </div>

                <section>
                    <a href="region"><input type="image" src="{% static 'static/image/btn_back.png' %}" alt=""></a>
                    <a href="key"><input type="image" src="{% static 'static/image/btn_next.png' %}" alt=""></a>
                </section>
            </div>
        </div>
    
        <div class="box right_box">
            <h3>CODE VIEW</h3>
            <div class="right_content_box">

            </div>
        </div>
    </div>
</body>
</html>