<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>key</title>
</head>

<body>
    <div class="container">
        <div class="box left_box">
            <div class="left_content_box">
                <div>
                    <div>
                        <input type="image" src="../static/image/icon01.png" alt="">
                    </div>
                    <div>
                        <input type="image" src="../static/image/icon02.png" alt="">
                    </div>
                    <div>
                        <input type="image" src="../static/image/icon03.png" alt="">
                    </div>
                </div>
                <div>
                    <img src="../static/image/logo_small.png" alt="">
                </div>
            </div>
        </div>
    
        <div class="box center_box">
            <div class="center_content_box">
                <div class="navi">
                    <p>Step 0</p>
                    <p>Step 1</p>
                    <p>Step 2</p>
                    <p><em>Step 3</em></p>
                </div>
                <h2>Step 3</h2>
                <div>
                    <p><em>IAM key</em></p>
                    <div class="key_load">
                        <p>파일 불러오기</p>
                        <img src="../static/image/icon_file.png" alt="파일 불러오기">
                    </div>
                </div>

                <div>
                    <p><em>Access Key 입력</em></p>
                    <input class="text_box" type="text">
                </div>

                <div>
                    <p><em>Secrey Key 입력</em></p>
                    <input class="text_box" type="text">
                </div>

                <footer>
                    <button class="apply">Apply</button>
                </footer>
            </div>
        </div>
    
        <div class="box right_box">
            <h3>CODE VIEW</h3>
            <div class="right_content_box">

            </div>
        </div>
    </div>
</body>
</html>