{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/1_main.css' %}">
    <title>main</title>

    <script>
        let selectedInstances = [];

        function handleCheckboxClick(instanceId) {
            const index = selectedInstances.indexOf(instanceId);
            if (index === -1) {
                // 선택되지 않은 경우 배열에 추가
                selectedInstances.push(instanceId);
            } else {
                // 이미 선택된 경우 배열에서 제거
                selectedInstances.splice(index, 1);
            }
        }

        function executeSelectedAction(action) {
            fetch('/terra/instances_view/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    action: action,
                    instance_ids: selectedInstances
                })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log(data); // 서버 응답 데이터 처리
                })
                .catch(error => {
                    console.error('There was an error!', error);
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // 원하는 쿠키 이름으로 시작하는 경우
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function startFunctions() {
            executeSelectedAction('start');
            noIns_popup();
        }
        function noIns_popup() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const targetDiv = document.getElementById('myModal');

            let checked = false;
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    checked = true;
                }
            });

            if (!checked) {
                targetDiv.style.display = 'flex';
            }
        }

        //체크박스 전체 선택
        function toggleCheckboxes() {
            var checkboxes = document.querySelectorAll('.checkboxes'); // 모든 체크박스 선택
            var selectAllCheckbox = document.getElementById('selectAll'); // 전체 선택 체크박스 선택
            if (selectAllCheckbox.checked) {
                // 전체 선택 체크박스가 체크된 경우
                selectedInstances = []; // 기존에 선택된 모든 인스턴스를 제거하고
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true; // 모든 체크박스를 선택 상태로 변경
                    selectedInstances.push(checkboxes[i].value); // 해당 체크박스의 값을 리스트에 추가
                }
            } else {
                // 전체 선택 체크박스가 체크 해제된 경우
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false; // 모든 체크박스를 해제 상태로 변경
                }
                selectedInstances = []; // 선택된 모든 인스턴스를 제거
                // for (var i = 0; i < checkboxes.length; i++) {
                //     checkboxes[i].checked = selectAllCheckbox.checked; // 전체 선택 체크박스의 상태에 따라 체크박스들의 상태 변경
                // }
            }
        }
        //인스턴스 미체크 시 팝업창
        function openPopup() {
            document.getElementById('myModal').style.display = 'flex';
        }

        function closePopup() {
            document.getElementById('myModal').style.display = 'none';
        }
        function refreshList() {
            location.reload(); // 현재 페이지를 다시 로드하여 리스트를 새로고침합니다.
        }
        
    </script>
</head>

<body>
    <h3>Main</h3>
    <button class="refresh"><img src="{% static 'image/refresh.png' %}" alt="새로고침" onclick="refreshList()"></button>

    {% csrf_token %}
    <div class="list_area">
        <header class="list">
            <div>
                <input type="checkbox" id="selectAll" onchange="toggleCheckboxes()">
            </div>
            <div>인스턴스명</div>
            <div>인스턴스 ID</div>
            <div>상태</div>
        </header>

        {% for instance in instances_info %}
        <div class="list">
            <div>
                <input type="checkbox" class="checkboxes" name="selected_instances" value="{{ instance.id }}"
                    onclick="handleCheckboxClick('{{ instance.id }}')">
            </div>
            <div>{{ instance.name }}</div>
            <div>{{ instance.id }}</div>
            <div id="instance_state">{{ instance.state }}</div>
        </div>
        {% endfor %}

        <footer>
            <a href="/terra/create/"><button>+ 생성하기</button></a>
        </footer>
    </div>

    <div class="btn_box">
        <button class="play_btn" type="button">
            <img src="{% static 'image/btn_play.png' %}" alt="실행하기" onclick="startFunctions()">
        </button>
        <button class="pause_btn" type="button">
            <img src="{% static 'image/btn_pause.png' %}" alt="정지하기" onclick="executeSelectedAction('stop')">
        </button>
        <button class="delete_btn" type="button">
            <img src="{% static 'image/btn_delete.png' %}" alt="삭제하기" onclick="executeSelectedAction('terminate')">
        </button>
    </div>

    <!-- 모달 팝업 -->
    <div class="modal_container" id="myModal">
        <div class="popup">
            <p>선택된 인스턴스가 없습니다.</p>
            <p>인스턴스를 선택해주세요.</p>
            <button class="close_btn" onclick="closePopup()">닫기</button>
        </div>
    </div>


</body>

</html>