{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/3_view.css' %}">
    <title>view</title>

</head>

<body>
    <h3>생성될 인스턴스의 정보를 확인하세요</h3>
    <div>
        <div class="code_area">
            <!-- 인스턴스 정보 Code -->
        </div>
    </div>
    <section>
        <a href="/terra/main"><button class="final_create_btn" onclick="">관리하기</button></a>
        <a href="/terra/create"><button class="final_save_btn" onclick="">취소하기</button></a>
    </section>
</body>

</html>