body{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquare';
}


.left_box{
    width: 960px;
    background-color: #242424;
}
.right_box {
    width: 960px;
    background-color: #313131;
    position: relative;
}
.container{
    display: flex;
}
.box{
    height: 100vh;
}

.logo{
    width: 250px;
    height: 250px;
    display: block;
    margin: 100px auto 80px;
}
.left_box > h3{
    color: #00A3FF;
    font-size: 35px;
    font-style: none;
    font-weight: normal;
    text-align: center;
    margin-top: -60px;
}
.left_box > p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: -20px;
}
.left_box > div{
    margin-top: 60px;
}
.left_box > div > .p_main{
    color: #00A3FF;
    font-size: 20px;
    text-align: center;
    margin-bottom: -15px;
}
.left_box > div > .p_main > em{
    color: #FBB03B;
    font-size: 25px;
    text-align: center;
    margin-bottom: -20px;
    font-style: normal;
}
.left_box > a{
    text-decoration: none;
    text-align: center;
}
.left_box > a > div{
    margin-top: 60px;
}
.left_box > a > div > span{
    border: 3px solid #00A3FF;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px 10px;
}

.right_box > p{
    color: #808080;
    font-size: 20px;
    text-align: center;
    margin-top: 160px;
}
.right_box > .iam_btn{
    display: block;
    margin: 150px auto 0;
    border: none;
    width: 600px;
    height: 100px;
    background: url(../image/btn_iam.png) no-repeat center center;
    cursor: pointer;
}
.right_box > .iam_btn:active{
    transform: scale(0.95);
}
.right_box > a{
    display: block;
    margin: 0 auto 30px;
    color: #00A3FF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
.right_box > form > div{
    margin: 0 167px 30px;
}
.right_box > form > div p{
    color: #ffffff;
    font-size: 20px;
}
.right_box > form > div > input{
    width: 600px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #313131;
    color: #ffffff;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.right_box > form > div > input[type="text"]:focus{
    outline: none;
}
.right_box > form > div > input[type="password"]:focus{
    outline: none;
}
.combobox{
    margin-top: -10px;
    width: 626px;
    height: 50px;
    border: 3px solid white;
    border-radius: 5px;
}
.combobox select{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 18px;
    padding-left: 25px;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url(../image/btn_arrow_bottom.png) no-repeat 95% center #313131;
}
.right_box > form > .start_btn{
    display: block;
    margin: 70px auto 0;
    width: 500px;
    height: 80px;
    color: #00A3FF;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid #00A3FF;
    border-radius: 20px;
    cursor: pointer;
}
.right_box > form > .start_btn:active{
    transform: scale(0.95);
}
.to_img{
    width: 30px;
    height: 30px;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}