body{
    margin: 0;
    padding: 0;
    background-color: #242424;
}
/* 체크박스 스타일 지정 */
input[type="checkbox"] {
 /* 원하는 크기로 지정 (예: 20px) */
    width: 20px;
    height: 20px;
}

h3{
    margin-top: 50px;
    color: #00A3FF;
    font-size: 50px;
    text-align: center;
}
div{
    text-align: center;
}
.list{
    display: flex;
    align-items: center;
    width: 1520px;
    height: 60px;
    margin: 0 auto;
}
.list > div{
    margin: 0 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.list > div:nth-child(1){ width:60px; }
.list > div:nth-child(2){ width:300px; }
.list > div:nth-child(3){ width:520px; }
div > div > div:nth-child(3){
    color: #00A3FF;
    cursor: pointer;
}
div > div > div:nth-child(3):hover{
    text-decoration: underline;
}
.list > div:nth-child(4){ width:300px; }
.list > div:nth-child(5){ 
    width:220px; 
    display: flex;
    justify-content: center;
    align-items:end;
}

#state_color{
    background-color: #00A3FF;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin-right: 15px;
}
.list_area > section{
    margin: 0 auto;
    width: 1520px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: overlay;
}
.list_area > section > div:nth-child(even){
    background-color: #313131;
}

.list_area > header{
    background-color: #00A3FF;
}
.list_area > div > div{
    font-size: 20px;
    color: #ffffff;
}

.list_area > footer > a{
    display: block;
    margin: 0 auto;
    width: 1514px;
    height: 60px;
    color: #00A3FF;
    border: 3px solid #00A3FF;
    text-align: center;
    cursor: pointer;
    background-color: #313131;
}
.list_area > footer > a > button{
    border: none;
    background-color: transparent;
    color: #00A3FF;
    font-size: 20px;
    margin-top: 15px;
}
.list_area > footer > a:active{
    transform: scale(0.95);
}

.btn_box{
    position: fixed;
    height: 100px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn_box > button{
    border: none;
    background-color: transparent;
    margin-right: 20px;
    cursor: pointer;
}
.btn_box > button:active{
    transform: scale(0.95);
}

/* 뒷배경 날리기 */
.dark_area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 반투명한 배경 */
    justify-content: center;
    align-items: center;
}

/* 버튼 팝업 */
.popup {
    background-color: #313131;
    width: 400px;
    height: 180px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #00A3FF;
    color: #ffffff;
    font-size: 20px;
    position: relative;
}
.popup > p{
    margin-bottom: -10px;
}
.popup > p > em.S{
    font-style: normal;
    font-weight: bold;
    color: #00A3FF;
}
.popup > p > em.P{
    font-style: normal;
    font-weight: bold;
    color: #FBB03B;
}
.popup > p > em.D{
    font-style: normal;
    font-weight: bold;
    color: #D274FF;
}

/* 버튼 팝업 닫기 */
.close_btn {
    background-color: #313131;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 60px;
    border: 3px solid #00A3FF;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 33%;
    bottom: 15%;
}
.close_btn:active{
    transform: scale(0.95);
}

.delete_check_box > .close_btn_A{
    background-color: #313131;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 60px;
    border: 3px solid #00A3FF;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 15%;
    bottom: 15%;
}
.delete_check_box > .close_btn_B{
    background-color: #313131;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 60px;
    border: 3px solid #00A3FF;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 15%;
}

/* 새로고침 버튼 */
.refresh{
    position: absolute;
    top: 5%;
    left: 85%;
    background-color: #242424;
    border: 2px solid #00A3FF;
    border-radius: 10px;
    cursor: pointer;
}
.refresh:active{
    transform: scale(0.95);
}
.refresh > img{
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

/* 인스턴스 ID 정보 팝업 */
.ins_popup {
    background-color: #313131;
    width: 1200px;
    height: 860px;
    border-radius: 10px;
    border: 3px solid #00A3FF;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    margin: 60px auto;
}
.ins_popup > h4{
    text-align: center;
    color: #00A3FF;
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;
}
.ins_popup > div{
    background-color: #242424;
    margin: 0 auto;
    width: 1100px;
    height: 600px;

}
.ins_popup > button{
    width: 200px;
    height: 80px;
    margin-top: 20px;
    background-color: #313131;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
    font-size: 20px;
}
.ins_popup > button:active{
    transform: scale(0.95);
}