body{
    margin: 0;
    padding: 0;
    background-color: #242424;
}
/* 체크박스 스타일 지정 */
input[type="checkbox"] {
 /* 원하는 크기로 지정 (예: 20px) */
width: 20px;
height: 20px;
    }

h3{
    margin-top: 50px;
    color: #00A3FF;
    font-size: 50px;
    text-align: center;
}
div{
    text-align: center;
}
.list{
    display: flex;
    align-items: center;
    width: 1520px;
    height: 60px;
    margin: 0 auto;
}
.list > div{
    margin: 0 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.list > div:nth-child(1){ width:100px; }
.list > div:nth-child(2){ width:400px; }
.list > div:nth-child(3){ width:700px; }
.list > div:nth-child(4){ width:220px; }
.list_area > header{
    background-color: #00A3FF;
}
.list_area > div > div{
    font-size: 20px;
    color: #ffffff;
}

.list_area > footer > a{
    display: block;
    margin: 0 auto;
    width: 1514px;
    height: 60px;
    color: #00A3FF;
    border: 3px solid #00A3FF;
    text-align: center;
    cursor: pointer;
    background-color: #313131;
}
.list_area > footer > a > button{
    border: none;
    background-color: transparent;
    color: #00A3FF;
    font-size: 20px;
    margin-top: 15px;
}
.list_area > footer > a:active{
    transform: scale(0.95);
}

.btn_box{
    position: fixed;
    height: 100px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn_box > button{
    border: none;
    background-color: transparent;
    margin-right: 20px;
}
.btn_box > button:active{
    transform: scale(0.95);
}