body{
    background-color: black;
}
h3{
    margin-top: 50px;
    color: #00A3FF;
    font-size: 35px;
    text-align: center;
}
div{
    width: 1200px;
    height: 600px;
    background-color: #313131;
    margin: 0 auto;
    border: 1px solid #313131;
}
.code_area{
    width: 800px;
    height: 500px;
    margin-top: 50px;
}
section{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
}
section > a > button{
    margin-top: 25px;
    width: 350px;
    height: 70px;
    color: #ffffff;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
section > a > button:active{
    transform: scale(0.95);
}
section > a > button.final_create_btn{
    color: #00A3FF;
    border: 3px solid #00A3FF;
    margin-right: 50px;
}