body{
    background-color: #313131;
    margin: 0;
    padding: 0;
}

.left_box{
    width: 80px;
}
.center_box{
    width: 1170px;
    background-color: #242424;
}
.right_box{
    width: 600px;
}
.container{
    display: flex;
}
.box{
    height: 100vh;
}

.left_content_box{
    height: 800px;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_content_box > div > div{
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
}
.left_content_box > div > div:hover{

    background-color: #242424;
}
.left_content_box > div > div > input{
    display: block;
    margin: 30px auto;
    width: 50px;
}
.left_content_box > div > img{
    display: block;
    margin: 0 auto;
    width: 50px;
}

.center_content_box{
    height: 900px;
    position: relative;
}
.center_content_box > .navi{
    display: flex;
    justify-content: flex-end;
    margin: 30px 20px;
}
.center_content_box > .navi > p{
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin: 15px;
}
.center_content_box > .navi > p > em{
    color: #00A3FF;
    font-style: none;
    font-size: 25px;
}

/* 메인페이지 중앙 부분 */
.center_content_box > img{
    display: block;
    margin: 100px auto 50px;
    width: 300px;
    height: 300px;
}
.center_content_box > p{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.center_content_box > footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.center_content_box > footer > button{
    width: 310px;
    height: 80px;
    color: #fff;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid #00A3FF;
    border-radius: 10px;
    display: block;
    margin: 0px 20px;
    cursor: pointer;
}
.center_content_box > footer > button:active{
    transform: scale(0.95);
}

/* 스텝1이후 중앙 부분 */
h2{
    margin-top: -35px;
    color: #00A3FF;
    font-size: 50px;
    text-align: center;
}

.center_content_box > div{
    margin: 0 100px 35px;
}
.center_content_box > div > p{
    color: #808080;
    font-size: 15px;
    margin-bottom: 30px;
}
.center_content_box > div > p > em{
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
}
.combobox{
    margin-top: -10px;
    width: 970px;
    height: 50px;
    border: 5px solid white;
}
.combobox select{
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: #ffffff;
    font-size: 15px;
    padding-left: 25px;
}
.center_content_box > section{
    display: flex;
    position: absolute;
    left: 300px;
}
.center_content_box > section > input{
    margin: 0 10px;
}
.center_content_box > section > input:active{
    transform: scale(0.95);
}
.text_box{
    margin-top: -10px;
    width: 945px;
    height: 50px;
    border: 5px solid white;
    background-color: #242424;
    color: #ffffff;
    font-size: 15px;
    padding-left: 25px;
}
.text_box::placeholder{
    color: #ffffff;
    font-size: 15px;
}

.key_load{
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 55px;
    padding: 0px 40px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid #00A3FF;
    border-radius: 10px;
    cursor: pointer;
}
.key_load:active{
    transform: scale(0.95);
}
.key_load > img{
    height: 40px;
    margin-top: 10px;
}

.right_content_box{
    width: 550px;
    height: 750px;
    background-color: #242424;
    margin: 30px;
    border-radius: 20px;
}
h3{
    margin-top: 50px;
    color: #00A3FF;
    font-size: 25px;
    text-align: center;
}
h4{
    padding-top: 60px;
    color: #808080;
    font-size: 30px;
    text-align: center;
}
.right_content_box > p{
    color: #808080;
    font-size: 20px;
    text-align: center;
}